#color {
  width: 200px;
  height: 200px;
  border-radius: 60px;
  border: 1px solid #929191;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.content {
  display: block;
  text-align: center;
  padding-top: 7%;
  font-size: 1.5rem;
  font-family: Consolas;
}
